@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$veryDarkBlue: hsl(233, 47%, 7%);
$softViolet: hsl(277, 64%, 61%);
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6);
$darkDesaturatedBlue: hsl(244, 38%, 16%);

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $veryDarkBlue;
  height: 100%;
  margin: 0;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $darkDesaturatedBlue;
  margin: 10vh 0;
  border-radius: 12px;
  max-width: 24em;
}

.content {
  margin: 16px 0;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $slightlyTransparentWhite;
    line-height: 24px;
    margin-top: 20px;
  }

  h1 {
    font-size: 1.875em;
    color: white;
    margin-bottom: 0;
  }

  .lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    table {
      margin-top: 20px;
      td {
        color: white;
        font-size: 1.25em;
        font-weight: bold;
      }

      th {
        font-size: 0.75em;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
        color: $slightlyTransparentWhite2;
      }
    }
  }

  span {
    color: $softViolet;
  }
}

.header {
  border-radius: 12px 12px 0 0;
  background-color: $softViolet;
  img {
    border-radius: 12px 12px 0 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 50%;
  }
}

@media (min-width: 992px) {
  .card {
    text-align: left;
    flex-direction: row-reverse;
    max-width: 70em;
    justify-content: space-between;
  }

  .header {
    border-radius: 0 12px 12px 0;
    width: 50%;
    img {
      border-radius: 0 12px 12px 0;
      height: 100%;
    }
  }

  .content {
    width: 50%;
    justify-content: flex-start;
    max-width: 35ch;
    padding-left: 50px;
    margin-top: 25px;

    .lists {
      flex-direction: row;
      width: 100%;
      margin-top: 60px;
    }
  }
}
