@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #090b1a;
  height: 100%;
  margin: 0;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b1938;
  margin: 10vh 0;
  border-radius: 12px;
  max-width: 24em;
}

.content {
  margin: 16px 0;
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 24px;
  margin-top: 20px;
}

.content h1 {
  font-size: 1.875em;
  color: white;
  margin-bottom: 0;
}

.content .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.content .lists table {
  margin-top: 20px;
}

.content .lists table td {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
}

.content .lists table th {
  font-size: 0.75em;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.content span {
  color: #aa5cdb;
}

.header {
  border-radius: 12px 12px 0 0;
  background-color: #aa5cdb;
}

.header img {
  border-radius: 12px 12px 0 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 50%;
}

@media (min-width: 992px) {
  .card {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 70em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header {
    border-radius: 0 12px 12px 0;
    width: 50%;
  }
  .header img {
    border-radius: 0 12px 12px 0;
    height: 100%;
  }
  .content {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 35ch;
    padding-left: 50px;
    margin-top: 25px;
  }
  .content .lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */